{#
/**
 * @file
 * Default theme implementation to present all aichat data.
 *
 * This template is used when viewing a aichat's page.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'.
 * - attributes: HTML attributes for the container element.
 * - aichat: A Drupal aichat entity.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>